<!DOCTYPE>
<html>
        <head>
                <title>Ruby on Rails Tutorial Sample App | Contact</title>
        </head>
        <body>
                <h1>Sample App</h1>
                <p>This is the contact page for <a href="www.google.com"/> Ruby page</p>
        </body>
</html>
